body {
    font-size: 19px;
}

table{
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
	
}
div.center{text-align:center;}
tr {
    border-bottom: 1px solid #cbcbcb;
}
tr:nth-child(even){
	background-color:#dddddd;
}
th, td{
    border: none;
    height: 30px;
    padding: 8px;
}

tr:hover {
    background: #F5F5F5;
}


.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.add_btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    	
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

nav {
    float: left;
    max-width: 150px;
    margin: 0;
    padding: 1em;
}

